/** Viyan Rony
200586309
Assignment 1 **/
html {
    background-color: #0cb19d;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Bungee Tint", sans-serif;
}

h1{
    font-size: 46px;
    letter-spacing: 1.25px;
    align-items: center;

}

p,a,li{
    font-family:"Archivo Black",sans-serif;
}

p span{
        font-size: 1.5em;
        font-weight: bold;
        color: rgb(255, 0, 0);
}

h3 {
    font-size: 3em;
    text-shadow: 2px 1.5px 2px rgba(0,0,0,.9);
}