body{
    margin: 0px;
    scroll-behavior: smooth;
  }
  h1, h3, h4, h5, h6{
  font-family: 'Roboto Condensed', sans-serif;
  }
  p,a,li,figcaption{
  font-family: 'Roboto Condensed', sans-serif;
  }
  h2{
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
  }

  /* three sections */
  .threesection{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 150px;
    text-align: center;
    background: linear-gradient(50deg, #FF4C00 30%, #002147 50%);
    color:  #FFFFFF;
    text-shadow: 4px 2px 4px rgba(0,0,0,.8);
    position: relative; 
    border-bottom: 4mm groove #07101b;
  }
  .threesection::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
  }
  .sectionhead{
    position: relative; 
    z-index: 2; 
    letter-spacing: 2px;
  }
  .sectionp{
    position: relative; 
    z-index: 2; 
    font-size: 20px;
    letter-spacing: 1px;
    padding:10px;
  }
  .abimgone{
    width:400px;
    height:auto;
    grid-column: 1;
  }
  .abimgtwo{
    width:300px;
    height:auto;
    grid-column: 2;
  }
  .abimgthree{
    width:450px;
    height:auto;
    grid-column: 3;
    background-color: aliceblue;
    padding-bottom: 50px;
  }

  @media only screen and (max-width: 600px) {
    .threesection{
      display: grid;
      grid-template-columns: 100%;
      margin-top: 150px;
      text-align: center;
      background: linear-gradient(50deg, #FF4C00 30%, #002147 50%);
      color:  #FFFFFF;
      text-shadow: 4px 2px 4px rgba(0,0,0,.8);
      position: relative; 
      border-bottom: 4mm groove #07101b;
    }
    .threesection::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.3;
      z-index: 1;
    }
    .sectionhead{
      position: relative; 
      z-index: 2; 
      letter-spacing: 2px;
      padding-top:100px;
    }
    .sectionp{
      position: relative; 
      z-index: 2; 
      font-size: 20px;
      letter-spacing: 1px;
      padding:10px;
    }
    .abimgone{
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
    .abimgtwo{
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
    .abimgthree{
      width: 100%;
      height: auto;
      margin: 0 auto;
      background-color: aliceblue;
      padding-bottom: 50px;
    }
  }

/* bannerimg */
.bannerimg{
  width:100%;
  height:auto;
}
.bannerdiv{
  border-bottom: 4mm groove #07101b; 
}

/* 2 sections */
.twosection{
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  background: linear-gradient(-50deg, #FF4C00 30%, #002147 50%);
  color:  #FFFFFF;
  text-shadow: 4px 2px 4px rgba(0,0,0,.8);
  position: relative; 
}

@media screen and (min-width: 600px) {
  .twosection{
    grid-template-columns: 50% 50%;
  }
}

.twosection::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

.sectionhead{
  position: relative; 
  z-index: 2; 
  letter-spacing: 2px;
}

.sectionp{
  position: relative; 
  z-index: 2; 
  font-size: 20px;
  letter-spacing: 1px;
  padding:10px;
}

.abimgfour{
  width: 50%;
  height: auto;
}

.abimgfive{
  width: 100%;
  height: auto;
}