.header{
    width:100%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
    position: fixed;
    backdrop-filter: blur(8px);
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 25px 0px;
}
.headlist{
    list-style: none;
}
.listitem{
    display: inline-block;
}
.logo{
    margin-left: 20px;
    width: auto;
    height: 6em;
}
li a {
    margin-left: 20px;
    margin-right: 40px;
}

li a:hover{
    cursor: pointer;
}
nav a{
    color: #FFFFFF;
    letter-spacing: 1px;
    text-decoration: none;
}
.label{
    font-size: 20px;
}
  header{
    overflow-x: hidden;
  }
  body {
    margin: 0;
    padding: 0;
  }
  nav a:hover {
    color: #FF4C00;
}

@media only screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      padding: 10px 0px;
    }
    
    .logo {
      margin: 0;
      margin-bottom: 10px;
      height: 4em;
    }
    
    .headlist {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    li a {
      margin: 5px 0;
      margin-right: 0;
    }
}